.hash{
    word-break:break-all;
}
.clipboard{
    cursor: pointer;
}
.spinner{
    font-size: 5px;
    height: 1rem;
    width: 1rem;
}
canvas {
    height: auto !important;
    width: 100% !important;
    max-width: 300px;
 }