
.company {
  color: #fe9316;
}
.nav-link {
  color: #ffffff !important;
  cursor: pointer;
  &:hover {
    color: #868686;
  }
}
.navbar-toggler {
  border: none;
  color: #fe9316;
}
.loginButton {
  cursor: pointer;
}
.closeButton {
  cursor: pointer;
}
